.closing-list {
  position: absolute;
  top: 190px;
  left: 110px;
  right: 110px;
  margin: 0;
  padding-left: 40px;
  font-size: 44px;
  line-height: 1.3;
}

.closing-list li {
  margin-bottom: 36px;
}
